/* 
Colors to be using: 
Aero Blue: BFFFF1 -> cool blue
Oxford Blue: 0C1B33 -> Studious Blue
Hunter green: 26532B
Teal Blue: 007991
Majorelle Blue: 6E44FF */


/* Style intial nav bar for desktop view*/
*{
  font-family:'Russo One';

}
nav{
  margin:0;
  padding: 10px 0px 10px 0px;
  background-color: #BFFFF1;
  text-align:center;
}
ul{
  list-style-type:none;
}
nav li {
  display:inline;
  padding: 20px;
  margin:0;
}
/* Style links  */
a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.nav li{
  font-size:18px;
  padding:15px 5px;

}

/* .nav li a{
  display:block;
} */

/* Responsive menu */
.nav{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  background-color: #BFFFF1;
}
.bars{
  background:#999;
  display:inline-block;
  height:2px;
  position:relative;
  width:18px;
}

.bars::before, .bars::after{
  
}


/* Create hamburger menu for CSS  */ 


/* Add sub classes for link */


/* Style heading area */
.heading{

}


/* Create hamburger menu for CSS  */



/* Style p sections for descriptions here along with headers */
p{
  font-size:12px;
}