/* 
Colors to be using: 
Aero Blue: BFFFF1 -> cool blue
Oxford Blue: 0C1B33 -> Studious Blue
Hunter green: 26532B
Teal Blue: 007991
Majorelle Blue: 6E44FF */


/* Style intial nav bar for desktop view*/
*{
  font-family:'Russo One';

}
nav{
  margin:0;
  padding: 10px 0px 10px 0px;
  background-color: #BFFFF1;
  text-align:center;
}
ul{
  list-style-type:none;
}
nav li {
  display:inline;
  padding: 20px;
  margin:0;
}

/* Style links  */
a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.nav li{
  font-size:18px;
  padding:15px 5px;

}

h1, h2, h4{
  text-align:center;
  margin:0 0 0 0;
}
h3{
  margin: 0 0 0 0;
  margin:10px;
}


.heading{
  background-color:#007991;
}
/* .nav li a{
  display:block;
} */
.topandtrending{
background-color:#26532B;
color:white;
padding:10px 0 10px 0;
}


/* Responsive menu */
.nav{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
  background-color: #BFFFF1;
}
#search{
  background-color:#0c1B33;
  padding:10px 0 10px 0;
 color:white;

}

#userresult{
  position:relative;

}

#userlist{
  background-color:#6E44FF;
}

footer{
  text-align:center;
  background-color:black;
  color:white;
}

/* Create hamburger menu for CSS  */ 


/* Add sub classes for link */




/* Create hamburger menu for CSS  */



/* Style p sections for descriptions here along with headers */
p{
  font-size:14px;
  margin: 0 0 0 0;
}